.first-questions h4 {
  margin-bottom: 40px;
  font-weight: normal;
}

.first-questions__one-question {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.first-questions__one-question p {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
}

.first-questions__button {
  border: 1px solid var(--border-color);
  background-color: var(--input-color);
  padding: 15px;
  width: 45%;
  transition: 0.3s all ease-in-out;
  color: #636e72;
  font-weight: bold;
}

.first-questions .active {
  background: var(--main-color);
  border-color: var(--main-color);
  color: var(--input-color);
}

/* =================== Style The Age Question ===================  */

.age-question {
  margin: 40px 0;
}

.age-question p {
  margin-bottom: 20px;
  font-weight: 500;
}

.age-question form {
  display: flex;
  flex-direction: column;
}

.age-question label {
  position: relative;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--input-color);
  border: 1px solid var(--border-color);
  transition: 0.3s all ease-in-out;
  color: #636e72;
  font-weight: bold;
}

.age-question label:last-child {
  margin-bottom: 0;
}

.age-question label input {
  appearance: none;
}

.age-question label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.age-question label span::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 30px;
  width: 8px;
  height: 8px;
  background-color: #eee;
  border: 8px solid var(--second-color);
  border-radius: 50%;
}

.age-question input:checked ~ span::after {
  position: static;
}

.age-question input:checked ~ span {
  border: none;
}

label.radio-active {
  background-color: #fff;
  box-shadow: 5px 5px 5px #ccc;
  color: #000;
}

@media (max-width: 768px) {
  .first-questions h4 {
    margin-bottom: 20px;
  }

  .first-questions__button {
    padding: 20px;
    width: 100%;
    font-size: 18px;
  }

  .first-questions__button:first-of-type {
    margin-bottom: 20px;
  }
}
